:root {
    /* colores */
    --first-color: aqua;
    --second-color: skyblue;
    --text-color: black;

    /* tamaño de fuente */
    --titulo-principal: 20px;
    --subtitulo: 16px;
    --parrafo: 10px;

    /* tipo de letra */
    --tipo-letra: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

header {
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo img{
    height: 50px;
}

.barras {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: yellow;
}

.nav-bar ul li a.active {
    color: black;
    background-color: yellow;
}

@media(max-width:900px) {
    header {
        padding: 0 30px;
    }

    .barras {
        display: block;
        cursor: pointer;
    }

    .barras .menu-hamburguesa {
        width: 30px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: gray;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar.active ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        /* opacity: 0; */
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }
}


/* iconos de redes sociales */

.redes-sociales {
    margin-top: 200px;
    margin-right: 10px;
    position: fixed;
    right: 0;
    width: 50px;
}

.red-social {
    width: auto;
    padding: 0;
    margin: 0;
}

.red-social img {
    width: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

.imagen{
width: 100%;
height: auto;
}


/* carrusel de imagenes */

.container-carrusel {
    position: relative;
    width: 90%;
    height: 70%;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.carruseles {
    width: 600%;
    height: 100%;
    display: flex;
}

.slide-section {
    width: calc(100%/6);
    height: 100%;
}

.slide-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}


/* Lista de programas */

.informacion h2{
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.informacion p{
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

